@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap");
$app-width: 100%;
$app-main-color: #f4f1e8;
$app-ft-color: #9b4819;
$font-family: "Radley", serif;
$app-ft-color: #9b4819;
$font-family: "Radley", serif;
$colorPrimary: rgb(154, 59, 22);
$colorButton: rgb(183, 89, 27);
$colorButonGoogle: rgba(184, 141, 94);
