.register-form-book {
  display: flex;
  flex-direction: column;
  width: 500px;
  .input-group-sm {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    //input {
    //  width: 95%;
    //}
  }
  .select-options {
    display: flex;
    flex-direction: column;
    .select-genres {
      height: 50px;
      border-radius: 10px;
      border-style: none;
    }
  }
  .date-description {
    display: flex;
    align-items: center;
    .description {
      height: 70px;
      width: 100%;
      margin-left: 10px;
      border-style: none;
      border-radius: 10px;
    }
  }
  input {
    margin-bottom: 5px;
  }
}