.updateInfo{
    width: 50vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(min-width: 800px){
        transform: translateX(-5%);

    }
}