.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
    color: #555;
  }
  
  .crying-book {
    max-width: 400px;
    animation-name: crying-book;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes crying-book {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .not-found-message {
    margin-top: 20px;
    opacity: 0;
    animation-name: not-found-message;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes not-found-message {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  