.BooksUser {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  font-family: "Radley", serif;
  color: #9b4819;

  h2 {
    font-size: 35px;
  }

  .MuiTypography-root {
    font-family: "Radley", serif !important;
    margin-top: 0.5rem;
    font-size: 18px;
  }

  img {
    margin-right: 1rem;
  }
}
