.register-form-service {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-sizing: border-box;

  .input-group-sm-service {
    width: 90%;
    height: 400px;
    gap: 25px;

    textarea {
      width: 100%;
      height: 60%;
      padding: 1rem 1.5rem;
      margin: 1rem;
      border-style: none;
      border-radius: 10px;
      outline: none;
      font-family: "Radley", serif;
      font-size: 18px;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 991px) {
  .register-form-service {
    .input-group-sm-service {
      textarea {
        width: 95%;
        margin: auto;
      }
    }
  }
}
