@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap");
$app-width: 100%;
$app-main-color: #f4f1e8;
$app-ft-color: #9b4819;
$font-family: "Radley", serif;

.Events__title {
  font-family: $font-family;
  font-size: 3rem;
  color: $app-ft-color;
}
