@import "../../sass/general.scss";

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(115, 114, 114, 0.566);
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  font-family: $font-family;

  &__btnDefault {
    color: $app-ft-color;
    font-style: italic;
    font-family: $font-family;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transform: translatey(6px);

    &:hover {
      font-weight: bold;
    }
  }

  &__container {
    width: 80%;
    height: 80%;
    font-family: $font-family;
    display: grid;
    overflow: scroll;

    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    background-color: rgb(237, 228, 213);

    position: relative;

    @media (max-width: 1550px) {
      padding: 20px;
    }
  }

  &__exit {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
     @media(max-width: 690px){
       position: fixed;
       margin: 20% 8%;
     }
  }

  &__infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    @media(max-width: 690px){
    width: 50%;

    }
  }

  &__logo {
    background-color: $colorPrimary;
    color: transparent !important;
    font-family: $font-family;
    font-weight: bold;
    font-size: 35px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-shadow: 15px 12px white, 38px 25px white, 61px 38px white;
    border: solid 5px white;
    box-shadow: 0px 0px 0px 5px $colorPrimary;
  }

  &__titulo {
    font-size: 35px;
    font-family: $font-family;
  }

  &__tituloColor {
    color: $colorPrimary;
  }

  &__info {
    width: 80%;
    font-size: 25px;
    text-align: center;
  }

  &__formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media(max-width: 690px){
      width: 50%;
  
      }
  }

  &__iconUser {
    width: 90px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &input {
      border-radius: 8px;
    }
  }

  &__button {
    background-color: $colorButton;
    color: white;
    font-weight: bold;
    width: 100%;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__color {
    color: $colorPrimary;
    cursor: pointer;
  }

  &__buttonGoogle {
    background-color: $colorButonGoogle;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 5px 15px;
    border-radius: 8px;

    &:hover {
      opacity: 0.5;
    }
  }

  .Login__google {
    background-image: linear-gradient(
      to right,
      #4285f4 0%,
      #4285f4 20%,
      #db4437 22%,
      #db4437 40%,
      #f4b400 40%,
      #f4b400 58%,
      #4285f4 60%,
      #4285f4 70%,
      #0f9d58 85%,
      #db4437 0%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
