@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap");
$app-width: 100%;
$app-main-color: #f4f1e8;
$app-ft-color: #9b4819;
$font-family: "Radley", serif;

.Servicios {
  width: $app-width;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
  font-family: $font-family;

  h2 {
    font-size: 40px;
    font-style: italic;
    color: $app-ft-color;
  }

  .Servicio__Description {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
      color: $app-ft-color;
      font-size: 20px;
    }
  }

  &__content {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .MuiCard-root {
      padding: 0 1rem;
      font-family: "Radley", serif !important;
      background-color: #f7f2e2;

      h4 {
        margin: 1rem 0;
        font-style: italic;
      }

      .MuiButton-root {
        font-family: "Radley", serif !important;
      }
    }

    .MuiCardActions-root {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .MuiCard-root {
    margin: 0 1rem;
  }

  .Servicios__content {
    padding: 0;
  }
}
